body {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    line-height: 1rem;
}
header {
    color: #8F8F8C;
    background-color: #006847;
    margin: 1.25rem auto;
    max-width: 760px;
    padding: 1rem;
    text-align: left;    
    border-radius: 1.1em;

}
footer {
    color: #8F8F8C;
    background-color: #006847;
    margin: 1.25rem auto;
    max-width: 760px;
    text-align: center;
    padding: 1rem;
    
    border-radius: 1.1em; 
}
h2{
    color:whitesmoke;
    margin: 1.25rem auto;
    max-width: 760px;
    text-align: left;
    border-bottom-style: solid;
    padding-bottom: 1em;

}

ul,li,a {
    margin: 1.25rem auto;
    max-width: 760px;
    color: #8F8F8C;
    padding-right: 1rem;
}
img {
    float: right;
    margin: 10px;
    border-radius: 1.1em;
}