@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body{
    font-size: 1.25em;
    padding: 1.4rem;
    background-color: #98C1D9;
    line-height: 1rem;
}
header,footer,a {
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif;
    color: #3D5A80;
    background-color: #EE6C4D;
    padding: 2em;
    border-radius: 1.25em;
}
    
ul,li {
    color: rgb(53, 50, 50);
    text-align: left;
    font-family: sans-serif;
    line-height: 1.5em;
}

h1 {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;
    color: #3D5A80;
    padding: .25em;
}
h2 {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;
    color: #3D5A80;
    padding: .25em;
}
h3 {
    color: #EE6C4D;
    text-align: left;
    font-family: 'Kosugi Maru', sans-serif;
}
p {
    font-family: sans-serif;
    color: rgb(53, 50, 50);
    text-align: justify;
    font-size: 1.26em;
    line-height: 1.4em;
}
img{
    width: 10%;
}

.colors {
    outline: rgb(71, 70, 70);
    outline-width: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.primary {
    color: #3D5A80;
    background-color: #E0FBFC;
    padding: 1em;
}
.secondary {
    background-color: #98C1D9; 
    padding: 1em;     
}
.accent1 {
    background-color: #E0FBFC;
    padding: 1em;
}
.accent2 {
    background-color: #EE6C4D;
    padding: 1em;
}
#coloredparagraph {
    background-color: #EE6C4D;
    padding: 1.75em;
    border-radius: 1.25em;
}
#currentdate {
    text-align: center;
    color: #3D5A80;
    
}
#headerh1{
    text-align: center;
}
#headerh2{
    text-align: center;
}