@media screen 
and (min-device-width: 1024px) {
    
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.logo {
    color: #3D5A80;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bolder;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 1em;
    background-color: #EE6C4D;
    font-family: 'Kosugi Maru', sans-serif;

}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%; 
}
.nav-links a {
    color: #3D5A80;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: bold;

}
.nav-links li{
    list-style: none;
}
.plates div{
    display: none;
}

.plates div{
    width: 25px;
    height: 2px;
    background-color: #3D5A80;
    margin: 5px;
}
h1 {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;
    color: #3D5A80;
    padding: .25em;
}
h2 {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;
    color: #3D5A80;
    padding: .25em;
}
h3 {
    color: #EE6C4D;
    text-align: left;
    font-family: 'Kosugi Maru', sans-serif;
}
p {
    font-family: sans-serif;
    color: rgb(53, 50, 50);
    text-align: justify;
    font-size: 1.26em;
    line-height: 1.4em;
}
footer {
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif;
    color: #3D5A80;
    background-color: #EE6C4D;
    padding: 2em;
    border-radius: 1.25em;
}

.fivedayforecast {
    display: flex;
    justify-content: space-around;
    background-color: #EE6C4D;
    color: #98C1D9;
}
.fivedayforecast h3 {
    color: #3D5A80;
    font-family: 'Kosugi Maru', sans-serif;
}

.article {
    background-color: #98C1D9;
    font-family: 'Kosugi Maru', sans-serif;
    color: #3D5A80;
}
.contactinfo {
    background-color: #98C1D9;
    font-family: 'Kosugi Maru', sans-serif;
    color: #3D5A80;
}
.date {
    color: #3D5A80;
    font-family: 'Kosugi Maru', sans-serif;
}
}