@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@media screen 
and (min-device-width: 768px) {   

body {
    overflow-x: hidden;
    background-color: #E0FBFC;
}

.logo {
    color: #3D5A80;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 24px;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 1em;
    background-color: #EE6C4D;
    font-family: 'Kosugi Maru', sans-serif;

}
.nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #EE6C4D;
    display: flex;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
.nav-links a {
    color: #3D5A80;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;

}
.nav-links li{
    opacity: 0;
    list-style: none;
}

.plates {
    display: block;
    cursor: pointer;
}

.plates div{
    width: 25px;
    height: 2px;
    background-color: #3D5A80;
    margin: 5px;
    transition: all 0.25s ease;
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .plate1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .plate2 {
    opacity: 0;
}
.toggle .plate3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
h1 {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;
    color: #3D5A80;
    padding: .25em;
}
h2 {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;
    color: #3D5A80;
    padding: .25em;
}
h3 {
    color: #EE6C4D;
    text-align: left;
    font-family: 'Kosugi Maru', sans-serif;
}
p {
    font-family: sans-serif;
    color: rgb(53, 50, 50);
    text-align: justify;
    font-size: 1.26em;
    line-height: 1.4em;
}
footer {
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif;
    color: #3D5A80;
    background-color: #EE6C4D;
    padding: 2em;
    border-radius: 1.25em;
}

.fivedayforecast {
    display: flex;
    justify-content: space-around;
    background-color: #EE6C4D;
    color: #98C1D9;
}
.fivedayforecast h3 {
    color: #3D5A80;
    font-family: 'Kosugi Maru', sans-serif;
}

.article {
    background-color: #98C1D9;
    font-family: 'Kosugi Maru', sans-serif;
    color: #3D5A80;
}
.contactinfo {
    background-color: #98C1D9;
    font-family: 'Kosugi Maru', sans-serif;
    color: #3D5A80;
}
.date {
    color: #3D5A80;
    font-family: 'Kosugi Maru', sans-serif;
}
}